name: incercam github actions

on:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.14.2  

    - name: Terraform Init
      env: 
          OCI_TENANCY_OCID: "ocid1.tenancy.oc1..aaaaaaaaouminldguaddw4th2rysvt2wezzx2nscn6snhkrc72dn6wjs27gq"
          OCI_USER_OCID: "ocid1.user.oc1..aaaaaaaasfs5r4eij324barnbwkwcghkg53qg7w4s2but3rvtthfjozgh2zq"
          OCI_REGION: "us-ashburn-1"
          TF_VAR_fingerprint: ${{ secrets.FINGERPRINT }}
          TF_VAR_private_key: ${{ secrets.PRIVATE_KEY }}
      run: |
           terraform init \
            -backend-config="namespace=${{ secrets.NAMESPACE }}" \
            -input=false

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      env:
          # These MUST be set in GitHub UI → Secrets
          TF_VAR_fingerprint: ${{ secrets.FINGERPRINT }}
          TF_VAR_private_key: ${{ secrets.PRIVATE_KEY }}
      run: terraform plan 
      
    - name: Terraform Apply
      env:
          # These MUST be set in GitHub UI → Secrets
          TF_VAR_fingerprint: ${{ secrets.FINGERPRINT }}
          TF_VAR_private_key: ${{ secrets.PRIVATE_KEY }}
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'  # Aapply only to pushes to the main branch
      run: terraform apply -auto-approve